@font-face {
  font-family: 'lcdnormal';
  src: url('./fonts/lcd-n___-webfont.woff2') format('woff2'), url('./fonts/lcd-n___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tr-909regular';
  src: url('./fonts/tr-909-webfont.woff2') format('woff2'), url('./fonts/tr-909-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.drumblr {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 25px;
  height: 900px;
  width: 900px;
  background-image: linear-gradient(180deg, #7B8795 0%, #EAEAEA 2%, #9DADBE 3%, #8C9EB4 8%, #8A9BAD 96%, #8AA1B1 96%, #68727E 97%, #98A2AB 100%);
  border-radius: 11px;
}

.HeaderContainer {
  /* border: 2px solid red; */
  display: flex;
  margin: auto;
  margin-top: 40px;
  height: 29%;
  width: 95%;
  background: #000000;
  box-shadow: inset 0 1px 3px 0 rgba(255,255,255,0.50);
}

.LogoContainer {
  /* border: 2px solid red; */
  order:1;
  display: flex;
  margin: auto;
  margin-top: 30px;
  /* height: 100%; */
  font-family: 'tr-909regular';
  font-size: 30px;
  color: #BBC5CF;
  text-align: left;
}

.DisplayContainer {
  /* border: 2px solid red; */
  order: 2;
  display: flex;
  margin: auto;
  margin-top: 40px;
  /* margin-left: 170px; */
  height: 175px;
  width: 400px;
  background-image: linear-gradient(180deg, #5CB547 0%, #4C9038 100%);
  border: 1px solid #979797;
  border-radius: 8px;
}

.Sample {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 45%;
  margin-top: 5px;
  /* margin: auto; */
  border: 3px solid #000000;
  font-family: 'tr-909regular';
}

.Tempo {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 45%;
  margin-bottom: 5px;
  /* margin: auto; */
  border: 3px solid #000000;
  font-family: 'lcdnormal';
}

.Status {
  display: flex;
  width: 95%;
  height: 90%;
  margin: auto;
  border: 3px solid #000000;
  font-family: 'lcdnormal';
  font-family: LCDNormal;;
  color: #00541B;
  font-size: 42px;
  align-items: center;
  padding-left: 0em;
}

.DialContainer {
  /* border: 2px solid red; */
  order: 3;
  height: 175px;
  width: 175px;
  margin: auto;
  margin-top: 40px;
  /* margin-left: 25px; */
  background-image: linear-gradient(180deg, #38393D 0%, #0D1216 100%);
  border: 5px solid #9AA4AD;
  border-radius: 50%;
}

.DialImprint {
  display: flex;
  margin: auto;
  margin-top: 7px;
  height: 45px;
  width: 45px;
  background-image: radial-gradient(50% 100%, #010005 15%, #5B5C61 62%, #000000 100%);
  border: 2px solid #151515;
  border-radius: 50%;
}

.BtnLabel {
  height: 70px;
  width: 80px;
  background-image: linear-gradient(0deg, rgba(216,216,216,0.00) 62%, #212227 62%);
  border: 2px solid #282C2F;
  border-radius: 9px;
}

.NavBar {
  display: flex;
  height: 5%;
  border: 1px solid red;
}

.SampleContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* margin-top: 4em; */
  margin-bottom: 6em;
  width: 85%;
  height: 45%;
  background-image: linear-gradient(180deg, #A6B7CB 0%, #8B9BB2 100%);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.11);
  justify-content: center;
}

.SampleContainer {

}
/* 
.sequenceStepRow {
  display: flex;
  height: 60px;
  width: 100%;
  margin: .7em;
  justify-content: space-evenly;
  background-image: linear-gradient(0deg, rgba(216,216,216,0.00) 62%, #212227 62%);
  border: 2px solid #282C2F;
  border-radius: 9px;
}

.sequenceStepButtons {
  display: flex;
  margin-top: 30px;
  margin-bottom: .1em;
  
  height: 20px;
  width: 32px;
  background-image: radial-gradient(50% 150%, rgb(164, 169, 176) 50%, #8B96A9 100%);
  border: 1px solid #363D47;
  border-radius: 4px;
  border-radius: 4px;
}

.sequenceStepButtonsOn {
  background-image: radial-gradient(50% 150%, #FE737C 50%, #E85A5E 100%);
  border: 1px solid #B6343E;
  box-shadow: 0 0 5px 2px #D599A3;
}

.SequenceBtn {
  height: 45px;
  width: 45px;
  background-image: radial-gradient(50% 150%, #F2E1E1 50%, #ACA3A3 100%);
  border-radius: 3px;
} */

.FooterContainer {
  /* border: 2px solid red; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

MIDISounds {
  border: 1px solid red;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
