/* CONTAINERS */

.NavBar {
  display: flex;
  color: rgb(70, 70, 70);
  margin-left: 2.8em;
  margin-right: 1.5em;
  height: 5%;
}

/* BUTTONS */

.NavBarBtn {
  margin-right: .4em;
  height: 1.5em;
  width: 5em;
  background-image: radial-gradient(50% 150%, rgb(197, 208, 227) 50%, #8B96A9 200%);
  border: 2px solid rgb(134, 135, 139);
  border-radius: 29px;
  transition: 0.5s;
}

.NavBarBtn p {
  margin: auto;
  margin-top: .5em;
}

.NavBarBtn:hover {
  background-image: radial-gradient(50% 320%, rgb(199, 232, 254) 0%, rgb(123, 198, 249) 200%);
  color: rgb(66, 108, 136);
  border: 2px solid rgb(176, 204, 223);
  box-shadow: 0 0 4px 2px rgb(123, 198, 249);
  border-radius: 29px;
}

.PlayBtn.inactive{
  margin-right: .4em;
  height: 1.5em;
  width: 5em;
  background-image: radial-gradient(50% 150%, rgb(197, 208, 227) 50%, #8B96A9 200%);
  border: 2px solid rgb(134, 135, 139);
  border-radius: 29px;
  transition: 0.5s;
}

.PlayBtn p {
  font-size: 20px;
  margin: auto;
  margin-top: .09em
}

.PlayBtn:hover {
  background-image: radial-gradient(50% 320%, #EAFFED 0%, #53DA5B 200%);
  color: rgb(65, 128, 59);
  border: 2px solid rgb(178, 221, 185);
  box-shadow: 0 0 4px 2px rgba(106,211,100,0.50);
  border-radius: 29px;
}

.PlayBtn.active {
  margin-right: .4em;
  height: 1.5em;
  width: 5em;
  color: rgb(65, 128, 59);
  background-image: radial-gradient(50% 320%, #EAFFED 0%, #53DA5B 200%);
  border: 2px solid rgb(178, 221, 185);
  box-shadow: 0 0 4px 2px rgba(106,211,100,0.50);
  border-radius: 29px;
}

.StopBtn.inactive{
  margin-right: .4em;
  height: 1.5em;
  width: 5em;
  background-image: radial-gradient(50% 150%, rgb(197, 208, 227) 50%, #8B96A9 200%);
  border: 2px solid rgb(134, 135, 139);
  border-radius: 29px;
  transition: 0.5s;
}

.StopBtn p {
  font-size: 27px;
  margin: auto;
  margin-top: .19em
}

.StopBtn:hover {
  background-image: radial-gradient(50% 150%, rgb(238, 157, 162) 50%, #E85A5E 200%);
  color: rgb(128, 59, 59);
  border: 2px solid rgb(241, 142, 149);
  box-shadow: 0 0 5px 2px rgb(208, 127, 141);
  border-radius: 29px;
}

.StopBtn.active {
  margin-right: .4em;
  height: 1.5em;
  width: 5em;
  color: rgb(128, 59, 59);
  background-image: radial-gradient(50% 150%, rgb(238, 157, 162) 50%, #E85A5E 200%);
  border: 2px solid rgb(241, 142, 149);
  box-shadow: 0 0 5px 2px rgb(208, 127, 141);
  border-radius: 29px;
}