/* CONTAINERS */

.sampleContainer {
  display: flex;
  flex-direction: column;
  font-family: Menlo;
  font-weight: bolder;
  font-style: italic;
  margin: auto;
  margin-top: .2em;
  width: 90%;
  height: 45%;
  background-image: linear-gradient(180deg, #A6B7CB 0%, #8B9BB2 100%);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.11);
  justify-content: center;
}

.SampleRow {
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 20%;
}

.buttonRowContainer {
  display: flex;
  height: 60px;
  width: 87%;
  justify-content: space-evenly;
  background-image: linear-gradient(0deg, rgba(216,216,216,0.00) 62%, #212227 62%);
  border: 2px solid #282C2F;
  border-radius: 9px;
}

/* BUTTONS */

.SampleBtnIcon {
  display: flex;
  flex-flow: row;
  /* margin-bottom: .1em; */
  height: 60px;
  width: 50px;
  background-image: radial-gradient(50% 150%, rgb(50, 50, 50) 50%, rgb(33, 33, 33) 200%);
  border: 2px solid rgb(50, 50, 50);
  border-radius: 4px;
  border-radius: 4px;
}

.SampleBtnIcon p {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-size: 12px;
}

.SampleIcon {
  display: flex;
  width: 100%;
  margin: auto;
  color: #222222;
  font-size: 10px;
}

.inactiveStep{
  background-color: rgb(73, 79, 85);
  transition: 0.5s;
}

.inactiveStep:hover{
  background-color: #008CBA;
}

.activeStep{
  background-color: #008CBA;
}

.step {
  border: solid;
  border-color: rgb(1, 84, 112);
  border-radius: 5px;
  margin: 0 3px;
  height: 50px;
  width: 50px;
}

.step {
  display: flex;
  margin-top: 30px;
  margin-bottom: .1em;
  height: 20px;
  width: 32px;
  background-image: radial-gradient(50% 100%, rgb(182, 187, 194) 75%, rgb(116, 125, 141) 120%);
  border: 2px solid rgb(132, 135, 139);
  border-radius: 4px;
  border-radius: 4px;
  transition: 0.5s;
}

.step:hover {
  background-image: radial-gradient(50% 320%, rgb(199, 232, 254) 0%, rgb(123, 198, 249) 200%);
  color: rgb(66, 108, 136);
  border: 2px solid rgb(176, 204, 223);
  box-shadow: 0 0 4px 2px rgb(123, 198, 249);
}

.activeStep {
  background-image: radial-gradient(50% 320%, rgb(199, 232, 254) 0%, rgb(123, 198, 249) 200%);
  color: rgb(66, 108, 136);
  border: 2px solid rgb(176, 204, 223);
  box-shadow: 0 0 4px 2px rgb(123, 198, 249);
}

.SequenceBtn {
  height: 45px;
  width: 45px;
  background-image: radial-gradient(50% 150%, #F2E1E1 50%, #ACA3A3 200%);
  border-radius: 3px;
} 